# Indica que este é o arquivo de configuração raiz
root = true

# Regras gerais para todos os arquivos
[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

# Regras específicas para arquivos web (Frontend)
[*.{html,css,js,yml}]
indent_size = 2
